.container {
    width: 100%;
    height: 80.125rem;
    position: relative;
    text-align: center;

    @media screen and (max-width: 768px) {
        height: auto;
        padding: 1rem;
    }
    
    .textContainer {
        text-align: center;
        width: 56.25rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .tag {
            margin-top: 5rem;
            color: var(--orange-primary);
            font-size: 1.25rem;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }
    
        .title {
            font-size: 3.5rem;
            color: var(--gray-primary);
            font-weight: 800;
            margin-bottom: 1.5rem;

            @media screen and (max-width: 768px) {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
    
        .description {
            font-size: 1.25rem;
            color: var(--gray-primary);
            font-weight: 400;
            line-height: 2.25rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    
    .circleOrange {
        position: absolute;
        left: 0;
        top: 12.5rem;
        z-index: -1;

        @media screen and (max-width: 768px) {
           width: 10rem;
           left: -5rem;
           top: 17rem;
        }
    }

    .circlePurple {
        position: absolute;
        right: 0;
        top: 25rem;
        z-index: -1;

        @media screen and (max-width: 768px) {
            width: 10rem;
            right: -5rem;
            top: 23rem;
        }
    }

    .desktop {
        z-index: 2;
        
        @media screen and (max-width: 1366px) {
            width: 70rem;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}