@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p,span,a,h1,h2,h3,h4,h5,h6,div,ul,li,button {
    font-family: "Roboto", sans-serif;
}

:root {
    --purple-primary: #581C87;
    --purple-secondary: #7E22CE;
    --orange-primary: #D97706;
    --yellow-primary: #FCD34D;
    --gray-primary: #0F172A;
    --gray-secondary: #475569;
    --blue-primary: #0369A1;
    --white: #FFFFFF;
    --black: #000000;
}

button {
    cursor: pointer;
}

.slick-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 30.625rem;
  }

.slick-slide {
    max-width: 22.75rem;
    height: 27.625rem;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        transform: scale(1.05); // Aumenta levemente o tamanho do slide
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}







